*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 41, 56);
}

.contenedor-principal{
    width: 50%;
    max-width: 60rem;
    min-height: 35rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color: white;
    border-radius: 5rem;
}

.color{
    padding: 2rem;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label, p{
    margin: 2rem;
}